.header-wrapper
    min-height: 100%
    height: auto !important
    background-image: url(../images/iphone.png)
    background-repeat: no-repeat
    background-position: top center
    background-size: 1200px

.header-wrapper, .review-wrapper, .condition-wrapper, .rule-wrapper
    width: 100%
    height: auto
    min-height: 100vh

.rule-wrapper
    background-image: url(../images/bg-rule.jpg)
    background-repeat: no-repeat
    background-size: 100%
    background-position: 100% 0